{% extends "base.html" %}

<!-- FLASH -->
{% set flash_categories = {
'error_alumnos_home': 'alert-error'
} %}

<!-- TÍTULO -->
{% block title %}{{_("Home | Alumnos")}}{% endblock %}

<!-- CSS -->
{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home_alumnos.min.css')}}">
{% endblock %}

<!-- BODY -->
{% block body %}
<header>
    <h1 class="page-title">{{_("Gestión de Alumnos")}}</h1>
    <nav class="actions">
        <a href="{{ url_for('alumnos.registrar_alumno') }}" class="btn btn-primary">{{_("Registrar Alumno")}}</a>
    </nav>
</header>

<main>
    {% if alumnos %}
    <section class="alumnos-section">
        <table class="alumnos-table mb-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>{{_("Nombres")}}</th>
                    <th>{{_("Apellidos")}}</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.id }}</td>
                    <td>{{ alumno.nombres }}</td>
                    <td>{{ alumno.apellidos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% else %}
    <section class="empty-state">
        <p>{{_("No hay alumnos registrados")}}</p>
    </section>
    {% endif %}

    <!-- Botón para abrir modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">{{_("Abrir
        Modal")}}</button>

    <!-- Modal -->
    <div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">{{_("¡Funciona Bootstrap JS!")}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    {{_("Si ves este modal, tu Bootstrap JS está funcionando correctamente 🎉")}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_("Cerrar")}}</button>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}