.env

# Node modules
node_modules/

# Archivos temporales de Python
*.pyc
*.pyo
*.pyd
*.pyi

# Carpetas __pycache__ en todos los niveles
__pycache__/
*/__pycache__/
**/__pycache__/

# Cache de tests
.pytest_cache/

# Entornos virtuales
.venv/
venv/

# Babel
*.pot
*.mo

# Configuraciones de IDE
.vscode/