# Entorno
.env

# Node.js
frontend/node_modules/
frontend/package-lock.json

# Docker
mysql_data/
*.pid
*.log

# Python
*.pyc
*.pyo
*.pyd
*.pyi
*.egg-info/

# Cache y compilados
__pycache__/
*/__pycache__/
**/__pycache__/
.pytest_cache/

# Entornos virtuales
.venv/
venv/

# Babel
*.pot
*.mo

# Configuración de IDE/editores
.vscode/